body {
  background-color: #e4f9f5;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  margin-top: 0;
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  color: #66BFBF;
}

h3 {
  color: #11999E;
}

hr {
  background-color: #eeeeee;
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #e4f9f5;
}

.pro {
  text-decoration: underline;
  font-style: italic;
}

#im {
  width: 700px;
  height: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 100px;
  width: 230px;
  height: 130px;
}

.top-cloud {
  position: absolute;
  top: 0;
  right: 300px;
  width: 230px;
  height: 130px;
}
#x{
  color:#11999E;
}
#id{
  font-weight: normal;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.button {
  border: 1px;
  color: #66BFBF;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #008CBA;
  color: white;
}
